@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.navigation {
  @include m.responsive(phone) {
    display: flex;
    align-items: center;
    background-color: v.$color-white;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 6.6rem;
    position: fixed;
    z-index: 5;
    justify-content: center;
  }
  &__mobile {
    display: none;
    visibility: hidden;
    @include m.responsive(phone) {
      display: block;
      visibility: visible;
    }
  }

  &__btn-menu {
    @include m.responsive(phone) {
      position: absolute;
      top: 5%;
      background-color: v.$color-white;
      width: 5rem;
      height: 5rem;
    }
  }

  &__background {
    @include m.responsive(phone) {
      position: absolute;
      right: 3.2rem;
      top: 9%;
      width: 4rem;
      height: 4rem;
    }
  }

  &__icon {
    margin-top: 2.6rem;
    &,
    &::before,
    &::after {
      @include m.responsive(phone) {
        background-color: v.$color-primary-dark;
      }
    }
  }

  &__icon {
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
    }
    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }
}

.change-icon {
  background-color: transparent;
  &::before {
    top: -80%;
    transform: rotate(135deg);
  }
  &::after {
    top: -80%;
    transform: rotate(-135deg);
  }
}
