@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.modal-video {
  position: fixed;
  display: flex;
  z-index: 10;
  width: 100vw;
  border: transparent;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  transition: all .3s 1s;

  &__close {
    font-size: 2.5rem;
    position: fixed;
    top: 5%;
    right: 10%;
    color: v.$color-white;
    background-color: v.$color-red-2;
    cursor: pointer;
    border: 1px solid v.$color-red-3;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    @include m.responsive(phone) {
      top: 25%;
    }
  }

  &__container {
    width: 100%;
    height: 100vh;
    background-color: #fafafa10;

    
    &--video {
      width: 80%;
      margin: 10%  auto;
      display: block;

      @include m.responsive(phone) {
        margin: 60% auto;
      }
    }

  }
}



