@use '../abstract/variables' as v;

.alert {
  position: fixed;
  right: 2%;
  bottom: 50%;
  background-color: v.$color-green-3;
  padding: 1.5rem;
  z-index: 1;
  border-radius: 2.8rem;
  box-shadow: 1px 1px 3px rgba(v.$color-black-4, 0.8);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &__messenger {
    color: v.$color-white;
    font-size: v.$font-size - .2rem;
  }

}

.show-alert {
  opacity: 1;
  transform: translateX(0);

}

.hide-alert {
  opacity: 0;
  transform: translateX(110%);
}