@use '../abstract/mixins' as m;

.whatsapp {
  position: fixed;
  bottom: 19.3%;
  right:7%;
  display: none;
  z-index: 1;

  @include m.responsive(tab-port){
    right: 4rem;
    bottom: 8.5rem;
  }
  @include m.responsive(phone){
    right: 2.6rem;
    bottom: 10.5rem;
  }

  &:hover {
    animation: vibrate .3s ease forwards;
  }

  &.show {
    display: block;
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}