.whatsapp {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: none;
  z-index: 1;

  &:hover {
    animation: vibrate .3s ease forwards;
  }

  &.show {
    display: block;
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}