@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

@mixin card-services() {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  padding: 3.2rem 6rem;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 100%;
  background-color: #fafafa10;

  @include m.responsive(tab-port) {
    width: 100%;
  }
  @include m.responsive(phone) {
    width: 100%;
    flex-direction: column;
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    font-weight: 300;
    line-height: 1.5;
  }

  &--content-title {
    margin-bottom: 2rem;
  }

  &--content-description {
    font-size: 1.7rem;
  }

  &--image {
    border-radius: 1rem;

    @include m.responsive(phone) {
      display: block;
    }
  }
}

.section-home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 7rem;

  @include m.responsive(phone) {
    padding: 0;
    flex-direction: column;
  }

  &__container-image {
    width: 100%;
  }

  &__landing {
    @include card-services();
    opacity: 0;
    transform: scale(0.9);
    transition: 0.7s ease-in-out all;
  }

  &__web {
    @include card-services();
    align-self: flex-end;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.7s ease-in-out all;
  }

  &__software {
    @include card-services();
    opacity: 0;
    transform: scale(0.9);
    transition: 0.7s ease-in-out all;

    &--image {
      order: 1;

      @include m.responsive(phone) {
        order: 0;
      }
    }
  }
}

.article-visible {
  opacity: 1;
  transform: scale(1);
} 