@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.section-services {
  display: flex;
  gap: 3rem;
  padding: 0 2rem;

  @include m.responsive(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  &__landing-card {
    border-top: 5px v.$color-blue-2 solid;
    height: 55rem;
  }

  &__web-card {
    border-top: 5px v.$color-red-2 solid;
    height: 58rem;
  }

  &__software-card {
    border-top: 5px v.$color-black-3 solid;
    height: 61rem;
  }

  &__title {
    text-align: center;
    color: v.$color-primary-dark;
  }

  &__landing-card,
  &__software-card,
  &__web-card {
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #060606a9;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.8;

    @include m.responsive(phone) {
      width: 75%;
      height:100%;
    }
  }

  & article ul li {
    font-size: v.$font-size + 0.1rem;
    margin-bottom: 1rem;

    @include m.responsive(phone) {
      font-size: v.$font-size - 0.1rem;
      margin-bottom: 0.5rem;
    }
  }
}
